.toolDetail {
  position: relative;
}

.toolDetail:before {
  position: absolute;
  content: "";
  left: 0;
  top: 20px;
  right: 15px;
  bottom: 15px;
  border-top: 1px solid #000;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}

.toolDetailFee1 {
  left: -2px;
  top: -2px;
}

.toolDetailFee2 {
  left: 2px;
  top: -2px;
}

.toolDetailFee3 {
  left: -1px;
  top: -26px;
}

.toolList {
  position: relative;
}

.toolList:before {
  position: absolute;
  content: "";
  left: 0;
  top: 8px;
  right: 8px;
  bottom: 0;
  border-top: 1px solid #000;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}

.toolListFee1 {
  left: 1px;
  top: -16px;
}

.toolListFee2 {
  left: 10px;
  top: -4px;
}

.mr-1 {
  margin-right: 0.25rem;
}

.wishlist {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
}

.toolColor {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
}

.ml-6 {
  margin-left: 1.5rem;
}
