.strikethrough {
  position: relative;
}

.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 20px;
  right: 15px;
  bottom: 15px;
  border-top: 1px solid #000;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}

.toolFee1 {
  left: -2px;
  top: -2px;
}

.toolFee2 {
  left: 5px;
  top: -2px;
}
